.root {
  z-index: 1;
}

.header {
  position: fixed;
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: black;
  z-index: 2;
  color: black;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-md);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(42px);
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
  }
}

.dropdownFooter {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.topheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adjust as needed */
}

.topHeaderLeft {
  display: flex;
  align-items: center;
}

.topHeaderRight {
  display: flex;
  gap: 10px; /* Adjust as needed */
}

/* Example styling for social icons */
.topHeaderRight svg {
  width: 24px;
  height: 24px;
  fill: #fff; /* Adjust color as needed */
}

.bookNowBtn {
  font-family: Garet, "Greycliff CF", var(--mantine-font-family);
  &:hover {
    transform: scale(1.02);
  }
}
